$tcs-red: #d52028;
$tcs-grey: #587182;
$tcs-light-blue: #57b1e4;
$tcs-dark-blue: #144ea2;
$tcs-charcoal: #1b1e1c;

$primary: $tcs-dark-blue;
$primary-light: $tcs-light-blue;
$secondary: $tcs-grey;

// Theme fonts
$font-family-title: 'IBM Plex Sans', 'Inter', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: $font-family-title;
$f-sans-serif: $font-family-title;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';


// Introducing new variables

$dark: $tcs-charcoal;
$light-dark: $tcs-grey;
$big-screen: 1200px;



// Introducing dark-theme variables

$primary-d: #8bb7f0;
$primary-light-d: #292A2C;
$gray-light: #E5E7EB;
$gray-lighter: #c8c8c8;
$light-dark-d: #374151;
$text-color-d: #F8F8F8;
$text-color-primary: #DDDFE2;
$border-color-d: #777792;
$light-overlay-d: #36383B;
$danger-d: #ff9c9c;
$success-d: #5fd388;
$btn-color-d: $tcs-charcoal;
$body-bg-d: #0D0D0E;

$instructor-input-border-color: $gray-lighter;
$light-theme-switch-bg-color: #1D386A;
$dark-theme-switch-bg-color: #717D8A;

$warning-400: #ffe340;
$warning-700: #9c4607;
$warning-accent-700: #fffcf5;

$page-color-transition: transparent .2s ease, color .2s ease;

