<%page expression_filter="h"/>
<%!
  from datetime import datetime
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>

<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {}) %>
<%namespace name="static" file="static_content.html"/>

<div class="wrapper wrapper-footer">
  <footer id="footer" class="tutor-container"
    % if bidi:
      dir="${bidi}"
    % endif
  >
    <div class="footer-top">
      % if not hide_openedx_link:
      <div class="powered-area">
        <ul class="logo-list">
          <li>Powered by:</li>
          <li>
            <a href="https://docs.tutor.edly.io" rel="noopener" target="_blank">
              <img src="${static.url('images/tutor-logo.png')}" alt="Runs on Tutor" width="80" />
            </a>
          </li>
          <li>
            <a href="${footer['openedx_link']['url']}" rel="noopener" target="_blank">
              <img src="${static.url('images/openedx-logo.png')}" alt="${footer['openedx_link']['title']}" width="79" />
            </a>
          </li>
        </ul>
      </div>
      % endif

      % if context.get('TCS_FOOTER_NAV_LINKS'):
      <nav class="nav-colophon" aria-label="${_('About')}">
        <ol>
          % for link in context.get('TCS_FOOTER_NAV_LINKS', []):
            <% 
              url = (link.get('url') or '#').strip()
              title = link.get('title') or ''
              is_external = url.startswith('http://') or url.startswith('https://')
            %>
            <li>
              <a href="${url}"
                % if is_external:
                  rel="noopener noreferrer" target="_blank"
                % endif
              >${title}</a>
            </li>
          % endfor
        </ol>
      </nav>
      % endif
    </div>

    <span class="copyright-site">
      Copyright ©${datetime.now().year}. All Rights Reserved.
    </span>

    <div class="colophon">
      % if context.get('include_language_selector', footer_language_selector_is_enabled()):
        <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
      % endif

      ## Site operators: Please do not remove this paragraph!
      <p class="copyright">
        ${footer['copyright']}
        % if icp_license_info.get('icp_license'):
          ${u" | {text}".format(text=icp_license_info.get('text'))}
          <a href="${icp_license_info.get('icp_license_link', '#')}">
            ${u" {icp}".format(icp=icp_license_info.get('icp_license'))}
          </a>
        % endif
      </p>
    </div>
  </footer>
</div>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif

% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"/>
  % endfor
% endif
